.body{
    margin-bottom: 2rem;
}
.card-body{
    padding: 0 !important;
    
}

.mt-4{
      color: #657790 !important ;
      font-family: 'inter';
      font-weight: 400 !important;
      font-size: 18px;
      line-height: 28px;
    
}

.card-title {
    height: 112px !important;
    width: 315px !important;
    bottom: 165px;
}
.card-title, h5{
    font-family: 'inter';
     line-height: 35px;
     letter-spacing: -1px;
     font-weight: 600;
    width: 209px !important;
    height: 35px !important;
    font-size: 24px !important;
   
}
.card-textmt-4{
     bottom: 87px !important;
}
.heading48{
    font-family: 'inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    letter-spacing: -2px;
}

.heading{
    font-family:'poppins' ;
    font-size:48px ;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.05px;
    color: #4E4E4E;
}
.p-12{
    font-size: 16px;
    font-family: 'poppins';
    font-weight: 400;
    line-height: 26px;
    color: #323B5C;
}
.box{
    color:  #000B33;
     width: 586px;
     height: 882px;
}
.card-titlel{
    width: 332.39px !important;
    height: 58px !important;
    font-weight: 700 !important;
    font-family: 'poppins' !important;
    font-size: 48px !important;
    line-height: 57.6px !important;
    color:  #4E4E4E !important;
    letter-spacing: -2.05px !important;
    
}

.listProperty{
    list-style-image: url('./assets/Group\ 554.svg') !important;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
    .listProperty{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 500px) {
    .listProperty{
        grid-template-columns: 1fr  ;
    }
}


/* -----creative thinker page starts------- */
.creativeBox{
    width: 381px;
    height: 498px;
}
.creativeImg{
    width: 341px;
    height:290px;
}
.creativeIcon{
    width: 84.41px;
    height: 81px;
}
.BTN{
    float: right;
    border-radius: 100px !important ;
    width: 109px;
    height: 44px;
}
@media screen and (max-width: 432px) {
        .creativeBox{
            width: 327px;
            height: 498px;
        }
        .creativeImg{
            width: 295px;
            height: 290px;
        }
}

/* -----creative thinker page ends------- */

/* ----------------------------------------------------navber  page start*/
.navber{
   font-family: 'inter';
   font-size:16px;
   font-weight: 500;
   line-height: 24px;
}

/* navber page end */

/* our client speaking */
.clientsspeak{
    background-color: #F0F4F7;
     width: 592px;
     height: 208px; 
     padding: 32px; 
     border-radius: 10px;
}
.box2{
    margin-bottom: 200px !important ;
}   
 

/* how we work */

    @media screen and (max-width:432px) {
        .work img{
            width: 327px; ;
            height:193.1px ;
            border-radius: 20px;
        }
    }
    /* how we work page end */

  /*----------------------------------------------------------------- Blog */
  .blogbox{
    width: 662px !important;
    height: 770px !important; 
    border-radius: 40px !important;
    border: 2p !important;

  }
  .card-textI{
    font-size: 36px !important;
    font-weight: 600 !important;
    font-family: 'poppins' !important;
    line-height: 49px !important;
  }
  .card-bodyII{
     
  }
  .cardtextI{
    font-size: 22px ;
    line-height: 33px ;
    font-weight: 700 ;
    font-family: 'poppine';
    color: #095DC5;
    ;
  }
  .textcard{
    font-size: 26px;
    font-weight: 400;
    line-height: 39px;
    font-family: 'poppine';

  }
 
  .cardbox{
    width: 498px !important;
    height: 365px !important;
    border-radius: 30px !important;
    border: 2px !important;
    display:flex;
    flex-direction:column;
  }

  .cardbox img{
    width:438px !important;
    height:210px;
    border-radius: 16px;
    border: 2px !important;
  }
  .cardbox p{
    font-size:23px !important;
    line-height:34px !important;
    font-weight: 600;
    font-family: 'poppins' !important;
      
  }
  /* -----------------------------------zero page */
  .text1{
    width: 586px !important ;
    height: 134px !important; 
    font-size: 16px !important;
    font-weight: 400;
    line-height: 32px;
    font-family: 'inter' !important;
    color:  #4E4E4E !important;
   

  }
  .text{
    width: 586px !important;
    height: 144px !important;
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -4%;
    font-family: 'inter';
    color: #0854B2;
  }
  .zeropage{

    width: 1200px !important;
    height: 144px !important;
  
    
  }
  .zeropagebox{
    width: 1440px !important;
    height: 786px !important;
    background-color:  #F0F4F7;
    
  }
  .imgbox{
    position: relative !important;
    top: 200px !important;
    width: 1200px !important;
    height: 655px !important;
  }
  @media screen and (max-width:432px) {
     .imgbox{
        width: 327px !important ;
        height: 406px !important;
        border-radius: 10px !important;
        /* margin-top: -36226px !important; */
     }
     .text{
        width: 327px !important;
        height: 80px !important;
        font-size: 14px !important;
     }
     .text1{
        font-size: 24px !important;
        width: 327px !important;
        height: 64px !important;
     }
  }

  /* offer servicces */
  .offersec{
     margin-top: 482px !important;
  }